## Breast Cancer Data Pre-Processing

In [1]:
# importing the libraries

import pandas as pd
import numpy as np
import datetime as dt

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

from sklearn.preprocessing import StandardScaler

In [2]:
# function

def add_col(data, to_add, to_remove):
    
    data[to_add] = np.where(data[to_remove].isna(), 0, 1)
    
    data = data.drop([to_remove], axis=1)
    return data

### Importing Datasets

In [3]:
df1 = pd.read_excel('breast_cancer_data.xlsx')
df2 = pd.read_excel('breast_cancer_data_2.xlsx')

tnm1 = pd.read_csv("breast_cancer_data_tnm.csv")
tnm2 = pd.read_csv("breast_cancer_data_tnm_2.csv")

In [4]:
# concatenate the two datasets
data = pd.concat([df1, df2]).set_index('ehr')
data.head(50)

,Unnamed: 0,side,neoadjuvant,grade,invasive,er_positive,pr_positive,her2_positive,ki67,birth_date,diagnosis_date,death_date,recurrence_year,menarche_age,menopause_age,pregnancy,abort,birth,caesarean,hist_type
ehr,,,,,,,,,,,,,,,,,,,,
6849,AA,NaN,no,1.0,1.0,1.0,1.0,1.0,NaN,1967-08-08,2016-08-23,NaN,NaN,17.0,51.0,2.0,0.0,2,NaN,ductal
268,AB,NaN,no,NaN,1.0,1.0,1.0,0.0,NaN,1950-03-11,2015-09-05,NaN,NaN,12.0,NaN,2.0,0.0,2,NaN,unknown
1458,AC,NaN,no,1.0,1.0,1.0,1.0,0.0,0.0,1953-09-17,2017-03-01,NaN,NaN,11.0,NaN,2.0,0.0,2,0.0,ductal
268,AD,NaN,no,NaN,1.0,1.0,1.0,0.0,NaN,1950-03-11,2015-09-05,NaN,NaN,12.0,NaN,2.0,0.0,2,NaN,unknown
2013,AE,NaN,yes,3.0,1.0,1.0,1.0,1.0,17.0,1977-08-19,2014-08-31,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,ductal
1350,AF,NaN,no,2.0,1.0,0.0,1.0,0.0,44.0,1951-04-02,2003-05-24,2022-05-11,NaN,14.0,NaN,3.0,NaN,3,NaN,ductal
5850,AG,NaN,no,1.0,1.0,1.0,1.0,0.0,10.0,1958-11-12,2020-09-05,NaN,NaN,15.0,58.0,2.0,0.0,2,NaN,unknown
268,AH,NaN,no,NaN,1.0,1.0,1.0,0.0,NaN,1950-03-11,2015-09-05,NaN,NaN,12.0,NaN,2.0,0.0,2,NaN,unknown
953,AI,NaN,no,1.0,1.0,1.0,0.0,0.0,10.0,1949-03-19,2021-07-11,NaN,NaN,13.0,NaN,NaN,NaN,-1,NaN,unknown
773,AJ,NaN,no,2.0,1.0,1.0,1.0,0.0,10.0,1946-04-21,2017-09-26,NaN,NaN,NaN,50.0,2.0,0.0,2,NaN,ductal
2470,AK,NaN,no,2.0,1.0,1.0,0.0,0.0,0.0,1941-12-06,2016-01-12,NaN,NaN,12.0,NaN,NaN,NaN,-1,NaN,lobular
5380,AL,NaN,no,1.0,1.0,1.0,1.0,0.0,20.0,1953-04-15,2012-12-02,NaN,NaN,14.0,49.0,0.0,NaN,-1,NaN,unknown
7208,AM,NaN,no,1.0,1.0,1.0,1.0,NaN,0.0,1977-10-29,2021-05-25,NaN,NaN,12.0,NaN,0.0,0.0,0,NaN,unknown
5267,AN,NaN,no,1.0,1.0,0.0,0.0,NaN,80.0,1960-06-01,2007-10-17,NaN,NaN,10.0,45.0,6.0,0.0,6,NaN,unknown
3482,AO,NaN,no,3.0,1.0,1.0,0.0,0.0,10.0,1941-05-25,2018-09-21,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,ductal
6196,AP,NaN,no,NaN,1.0,0.0,1.0,1.0,39.0,1957-12-30,2016-09-03,NaN,NaN,13.0,46.0,2.0,1.0,1,NaN,ductal
7149,AQ,NaN,yes,3.0,NaN,NaN,NaN,1.0,36.0,1955-07-10,2015-07-12,NaN,NaN,12.0,37.0,0.0,0.0,0,0.0,unknown
6111,AR,NaN,no,NaN,1.0,1.0,0.0,0.0,20.0,1980-03-03,2019-07-12,NaN,NaN,14.0,NaN,2.0,0.0,2,NaN,unknown
569,AS,NaN,no,NaN,1.0,1.0,1.0,NaN,27.0,1943-03-30,1996-03-09,NaN,2015.0,11.0,NaN,4.0,0.0,4,0.0,ductal
1789,AT,NaN,no,NaN,NaN,1.0,1.0,0.0,1.0,1970-11-30,1999-09-18,NaN,NaN,12.0,NaN,NaN,NaN,-1,NaN,ductal
2245,AU,left,no,NaN,1.0,NaN,NaN,NaN,NaN,1961-12-15,1998-07-22,NaN,2015.0,NaN,NaN,2.0,0.0,2,NaN,unknown
3327,AV,NaN,no,2.0,1.0,1.0,NaN,NaN,NaN,1952-12-13,2017-09-22,NaN,NaN,14.0,NaN,NaN,NaN,-1,NaN,ductal
3854,AW,NaN,no,1.0,1.0,1.0,NaN,0.0,NaN,1971-10-22,2011-01-19,NaN,NaN,13.0,NaN,2.0,1.0,2,NaN,ductal
4538,AX,NaN,yes,3.0,1.0,1.0,1.0,NaN,30.0,1943-12-02,2012-03-29,2020-02-04,2018.0,14.0,55.0,1.0,0.0,1,NaN,ductal
4916,AY,NaN,no,NaN,1.0,0.0,0.0,0.0,NaN,1939-11-14,2005-04-12,2015-10-10,NaN,NaN,52.0,0.0,0.0,0,NaN,ductal
5512,AZ,NaN,no,NaN,1.0,NaN,NaN,1.0,10.0,1959-07-05,2012-12-01,NaN,NaN,NaN,58.0,NaN,NaN,-1,NaN,ductal
2446,BA,NaN,no,NaN,1.0,1.0,1.0,0.0,10.0,1954-09-15,2017-06-30,NaN,NaN,NaN,55.0,2.0,0.0,2,NaN,unknown
6953,BB,NaN,no,NaN,1.0,1.0,1.0,0.0,30.0,1947-11-17,2013-10-07,2013-07-11,2017.0,13.0,50.0,3.0,1.0,2,NaN,ductal
5724,BC,NaN,no,NaN,1.0,1.0,NaN,NaN,0.0,1953-11-16,2010-04-12,NaN,2010.0,13.0,NaN,3.0,1.0,2,NaN,lobular
7195,BD,NaN,no,NaN,1.0,1.0,1.0,0.0,30.0,1967-11-13,2017-04-29,NaN,NaN,NaN,NaN,1.0,NaN,1,NaN,ductal
4695,BE,NaN,yes,NaN,1.0,1.0,1.0,0.0,20.0,1954-06-11,2013-07-22,NaN,NaN,NaN,NaN,0.0,0.0,0,NaN,unknown
1563,BF,NaN,no,NaN,NaN,1.0,1.0,NaN,NaN,1955-06-25,2014-04-11,NaN,NaN,14.0,50.0,NaN,NaN,-1,NaN,ductal
5147,BG,NaN,no,2.0,1.0,1.0,1.0,0.0,NaN,1943-08-02,2022-12-06,NaN,NaN,NaN,38.0,NaN,NaN,-1,NaN,ductal
2100,BH,NaN,yes,1.0,1.0,1.0,0.0,0.0,20.0,1958-04-21,2021-12-05,NaN,NaN,12.0,48.0,0.0,0.0,0,NaN,unknown
912,BI,NaN,no,2.0,NaN,1.0,0.0,1.0,1.0,1960-05-15,2012-08-14,NaN,NaN,14.0,49.0,NaN,NaN,-1,NaN,unknown
2112,BJ,NaN,no,1.0,1.0,1.0,0.0,0.0,11.0,1968-04-10,2016-09-28,NaN,NaN,13.0,NaN,NaN,NaN,-1,NaN,ductal
1071,BK,NaN,no,NaN,1.0,1.0,1.0,NaN,NaN,1960-01-15,2013-09-07,NaN,NaN,NaN,47.0,NaN,NaN,-1,NaN,unknown
6498,BL,NaN,no,2.0,1.0,1.0,0.0,0.0,10.0,1946-07-20,2021-10-14,NaN,NaN,12.0,NaN,NaN,NaN,-1,NaN,unknown
7403,BM,NaN,no,NaN,1.0,1.0,1.0,1.0,10.0,1972-09-02,2020-09-29,NaN,NaN,13.0,NaN,3.0,0.0,3,NaN,unknown
526,BN,NaN,no,2.0,1.0,NaN,1.0,0.0,NaN,1963-02-08,1997-06-11,NaN,NaN,11.0,56.0,1.0,0.0,1,NaN,ductal
3019,BO,NaN,no,2.0,1.0,0.0,0.0,0.0,NaN,1941-09-18,2015-05-21,NaN,NaN,13.0,42.0,2.0,0.0,2,NaN,ductal
1604,BP,NaN,no,NaN,NaN,1.0,1.0,NaN,NaN,1955-08-04,2020-08-10,NaN,NaN,14.0,NaN,NaN,NaN,-1,NaN,ductal
1546,BQ,NaN,yes,2.0,1.0,1.0,1.0,0.0,10.0,1969-04-09,2022-04-18,NaN,NaN,12.0,NaN,NaN,NaN,-1,NaN,ductal
2317,BR,NaN,yes,2.0,1.0,0.0,0.0,1.0,20.0,1941-05-14,2015-07-03,NaN,NaN,13.0,58.0,NaN,NaN,-1,NaN,unknown
1446,BS,NaN,no,NaN,1.0,1.0,1.0,0.0,10.0,1935-10-27,2017-04-29,NaN,NaN,NaN,NaN,2.0,0.0,2,NaN,ductal
4998,BT,NaN,no,1.0,1.0,1.0,1.0,0.0,0.0,1944-11-10,2022-12-31,NaN,2020.0,13.0,52.0,2.0,0.0,2,NaN,unknown
5755,BU,NaN,no,1.0,1.0,1.0,1.0,0.0,10.0,1983-08-04,2018-08-19,NaN,NaN,13.0,NaN,0.0,NaN,-1,NaN,ductal
4272,BV,NaN,no,NaN,NaN,1.0,1.0,0.0,NaN,1965-02-14,2010-09-19,NaN,NaN,14.0,NaN,NaN,NaN,-1,NaN,unknown
5508,BW,NaN,no,3.0,NaN,1.0,1.0,NaN,NaN,1954-06-13,2015-03-16,NaN,NaN,12.0,40.0,3.0,0.0,3,NaN,ductal
6465,BX,NaN,no,3.0,1.0,1.0,1.0,0.0,NaN,1964-02-05,2003-07-15,NaN,NaN,14.0,45.0,2.0,0.0,2,0.0,ductal

In [5]:
# concatenate the two datasets
data_tnm = pd.concat([tnm1, tnm2]).set_index('ehr')
data_tnm

      n_tumor    t    n    m t_after_neoadj  n_after_neoadj  m_after_neoadj
ehr
6849        1    1  0.0  0.0            NaN             NaN             NaN
6849        3    2  0.0  0.0            NaN             NaN             NaN
268         1    1  0.0  0.0            NaN             NaN             NaN
268         2    1  1.0  0.0            NaN             NaN             NaN
268         3    2  0.0  0.0            NaN             NaN             NaN
...       ...  ...  ...  ...            ...             ...             ...
6647        1  NaN  NaN  NaN            2.0             2.0             0.0
768         1    X    X  1.0            NaN             NaN             NaN
4534        1    2    0  0.0            NaN             NaN             NaN
7062        1    1    0  0.0            NaN             NaN             NaN
7066        1    0    2  0.0            1.0             1.0             0.0

[236 rows x 7 columns]

### Creating new columns

In [6]:
data = add_col(data, 'dead', 'death_date')
data = add_col(data, 'recurrence', 'recurrence_year')
data = add_col(data, 'menopause', 'menopause_age')

In [7]:
data['age']=(dt.datetime.today()\
            -pd.to_datetime(data['birth_date'])).astype('timedelta64[Y]')

In [8]:
data['years_from_diagnosis']=(dt.datetime.today()\
            -pd.to_datetime(data['diagnosis_date'])).astype('timedelta64[Y]')

### Drop columns

In [9]:
data.isnull().sum()

Unnamed: 0                0
side                    229
neoadjuvant               1
grade                    94
invasive                 34
er_positive              24
pr_positive              27
her2_positive            42
ki67                     71
birth_date                0
diagnosis_date            0
menarche_age             53
pregnancy                99
abort                   115
birth                     0
caesarean               225
hist_type                 0
dead                      0
recurrence                0
menopause                 0
age                       0
years_from_diagnosis      0
dtype: int64

In [10]:
# drop birth_date, Unnamed: 0 (not useful) and side (more than 200 null)
# caesarean also has more than 200 null
data = data.drop(['Unnamed: 0',
                  'birth_date',
                  'diagnosis_date',
                  'caesarean',
                  'side'], axis=1)
data.head(20)

,neoadjuvant,grade,invasive,er_positive,pr_positive,her2_positive,ki67,menarche_age,pregnancy,abort,birth,hist_type,dead,recurrence,menopause,age,years_from_diagnosis
ehr,,,,,,,,,,,,,,,,,
6849,no,1.0,1.0,1.0,1.0,1.0,NaN,17.0,2.0,0.0,2,ductal,0,0,1,55.0,6.0
268,no,NaN,1.0,1.0,1.0,0.0,NaN,12.0,2.0,0.0,2,unknown,0,0,0,72.0,7.0
1458,no,1.0,1.0,1.0,1.0,0.0,0.0,11.0,2.0,0.0,2,ductal,0,0,0,69.0,5.0
268,no,NaN,1.0,1.0,1.0,0.0,NaN,12.0,2.0,0.0,2,unknown,0,0,0,72.0,7.0
2013,yes,3.0,1.0,1.0,1.0,1.0,17.0,NaN,NaN,NaN,-1,ductal,0,0,0,45.0,8.0
1350,no,2.0,1.0,0.0,1.0,0.0,44.0,14.0,3.0,NaN,3,ductal,1,0,0,71.0,19.0
5850,no,1.0,1.0,1.0,1.0,0.0,10.0,15.0,2.0,0.0,2,unknown,0,0,1,64.0,2.0
268,no,NaN,1.0,1.0,1.0,0.0,NaN,12.0,2.0,0.0,2,unknown,0,0,0,72.0,7.0
953,no,1.0,1.0,1.0,0.0,0.0,10.0,13.0,NaN,NaN,-1,unknown,0,0,0,73.0,1.0
773,no,2.0,1.0,1.0,1.0,0.0,10.0,NaN,2.0,0.0,2,ductal,0,0,1,76.0,5.0
2470,no,2.0,1.0,1.0,0.0,0.0,0.0,12.0,NaN,NaN,-1,lobular,0,0,0,81.0,6.0
5380,no,1.0,1.0,1.0,1.0,0.0,20.0,14.0,0.0,NaN,-1,unknown,0,0,1,69.0,10.0
7208,no,1.0,1.0,1.0,1.0,NaN,0.0,12.0,0.0,0.0,0,unknown,0,0,0,45.0,1.0
5267,no,1.0,1.0,0.0,0.0,NaN,80.0,10.0,6.0,0.0,6,unknown,0,0,1,62.0,15.0
3482,no,3.0,1.0,1.0,0.0,0.0,10.0,NaN,NaN,NaN,-1,ductal,0,0,0,81.0,4.0
6196,no,NaN,1.0,0.0,1.0,1.0,39.0,13.0,2.0,1.0,1,ductal,0,0,1,64.0,6.0
7149,yes,3.0,NaN,NaN,NaN,1.0,36.0,12.0,0.0,0.0,0,unknown,0,0,1,67.0,7.0
6111,no,NaN,1.0,1.0,0.0,0.0,20.0,14.0,2.0,0.0,2,unknown,0,0,0,42.0,3.0
569,no,NaN,1.0,1.0,1.0,NaN,27.0,11.0,4.0,0.0,4,ductal,0,1,0,79.0,26.0
1789,no,NaN,NaN,1.0,1.0,0.0,1.0,12.0,NaN,NaN,-1,ductal,0,0,0,52.0,23.0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 6849 to 7066
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   neoadjuvant           243 non-null    object
 1   grade                 150 non-null    float64
 2   invasive              210 non-null    float64
 3   er_positive           220 non-null    float64
 4   pr_positive           217 non-null    float64
 5   her2_positive         202 non-null    float64
 6   ki67                  173 non-null    float64
 7   menarche_age          191 non-null    float64
 8   pregnancy             145 non-null    float64
 9   abort                 129 non-null    float64
 10  birth                 244 non-null    int64
 11  hist_type             244 non-null    object
 12  dead                  244 non-null    int32
 13  recurrence            244 non-null    int32
 14  menopause             244 non-null    int32
 15  age                   244 non-null    float64
 16  years_from_diagnosis  244 non-null    float64
dtypes: float64(11), int32(3), int64(1), object(2)
memory usage: 31.5+ KB

### Map values and replace with most frequent

In [12]:
# checking the values of all the features using value counts
categoricals = ['neoadjuvant', 'hist_type']

for feature in categoricals:
    print(f"Values Counts for [{feature}]")
    print(data[feature].value_counts())
    print("\n\n")

Values Counts for [neoadjuvant]
no     194
yes     49
Name: neoadjuvant, dtype: int64



Values Counts for [hist_type]
ductal     118
unknown    106
lobular     20
Name: hist_type, dtype: int64

In [13]:
data['neoadjuvant'] = data['neoadjuvant'].map({'no': 0, 'yes': 1})
data['neoadjuvant'].value_counts()

0.0    194
1.0     49
Name: neoadjuvant, dtype: int64

In [14]:
ordinal_col = ['hist_type']
data_dum = pd.get_dummies(data, columns = ordinal_col)

In [15]:
# replace with most frequent value
for column in ['neoadjuvant','grade', 'invasive', 'er_positive', 'pr_positive', 'her2_positive', 'ki67', 'menarche_age']:
    data_dum[column].fillna(data_dum[column].mode()[0], inplace=True)
    
# replace with mean value
#for column in ['ki67']:                                           ## mode=10, mean=20.4
#    data_dum[column].fillna(data_dum[column].mean(), inplace=True)

In [16]:
data_dum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 6849 to 7066
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   neoadjuvant           244 non-null    float64
 1   grade                 244 non-null    float64
 2   invasive              244 non-null    float64
 3   er_positive           244 non-null    float64
 4   pr_positive           244 non-null    float64
 5   her2_positive         244 non-null    float64
 6   ki67                  244 non-null    float64
 7   menarche_age          244 non-null    float64
 8   pregnancy             145 non-null    float64
 9   abort                 129 non-null    float64
 10  birth                 244 non-null    int64
 11  dead                  244 non-null    int32
 12  recurrence            244 non-null    int32
 13  menopause             244 non-null    int32
 14  age                   244 non-null    float64
 15  years_from_diagnosis  244 non-null    float64
 16  hist_type_ductal      244 non-null    uint8
 17  hist_type_lobular     244 non-null    uint8
 18  hist_type_unknown     244 non-null    uint8
dtypes: float64(12), int32(3), int64(1), uint8(3)
memory usage: 30.3 KB